.Layout {
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows:  95% 5%;
}


.Layout>footer {
}

.Layout>main {
    overflow: auto;
}

.Layout,
.Layout>* {
    border: 1px solid;
}